<div id="headerMenu">
    <nav role='navigation'>
        <ul>
            <li><a href="#"><img src="img/menu-options.png" />Menu</a>
                <ul>
                    <li><a href="">Optie 1</a></li>
                    <li><a href="">Optie 2</a></li>
                </ul>
            </li>
        </ul>
    </nav> 
</div>

<div id="headerTitle">
    <img src="img/logo-black.png" />
</div>

<div id="headerLogos">
    <a href="">Downloads</a>
    <a href=""><img src="img/apple.png" /></a> |
    <a href=""><img src="img/google.png" /></a>
</div>