<div class="row">
    <div class="panelLeft col-sm-6">
        <article ng-mouseenter="muteButton=true" ng-mouseleave="muteButton=false">
            <div ng-hide="hideVideoText" class="fadein fadeout">
                <div class="panelLeftText">
                    <p class="titel">Word een bezorger</p>
                    <p class="subText">Verdien tot € 11 per uur, deel online je werktijden in en wordt een onderdeel van het Footmen-team!<br />Niet ongelangrijk: je werk houdt je fit!</p>
                </div>

                <div class="buttonGroupLeft">
                    <button class="login">Log in</button>of<button class="registreer">Registreer</button>
                </div>
            </div>
            <div class="muteButton fadeinFast fadeoutFast" ng-show="muteButton">
                <a href="">
                    <img src="img/muted.png" ng-click="soundVideo()" ng-show="videoSound" />
                    <img src="img/unmuted.png" ng-click="soundVideo()" ng-show="!videoSound" />
                    <p class="muteButtonText">Bekijk hoe het werkt</p>
                </a>
            </div>
            <video autoplay loop id="video" muted>
                <source src="img/background.mp4" type="video/mp4">
            </video>
        </article>
    </div>
    <div class="panelRight col-xs-12 col-sm-6">
        <div class="telList">
            <div class="col-xs-6 iphone">
                <img src="img/iphone.png" />
            </div>
            <div class="col-xs-6">
                <ul>
                    <li>Eenvouding en snel</li>
                    <li>Geen cash</li>
                    <li>Geen contract</li>
                    <li>Live tracking van de bezorger</li>
                    <li>Vaste tarieven</li>
                </ul>
            </div>
        </div>
        <div class="panelRightText">
            <p class="titel">Vind een bezorger</p>
        </div>
        <div class="buttonGroupRight">
            <button class="login">Log in</button>of<button class="registreer">Registreer</button>
        </div>
    </div>
</div>